<!doctype html>
<html lang="en">
  <head>
    <title>Selfmade Blockchain</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand navbar-light bg-faded" style="background-color: rgb(52, 58, 64);">
      <img src="..\static\logo_image.png" class="img-thumbnail ${3|rounded-circle}" alt="Selfmade Blockchain">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">Menu</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="/">Home</a>
              <a class="dropdown-item" href="/chain">Full Chain</a>
              <a class="dropdown-item" href="/addtx">Add Tx</a>
          </div>
          </li>
      </ul>
      <!-- Search Button -->
      <div>
        <form action="/search" class="form-inline my-2 my-lg-0"  name="searchform" id="searchform" method="post">
          <input class="form-control mr-sm-2" type="text" placeholder="hash, block# ..." name="keyword" id="keyword">
          <button type="submit" class="btn btn-outline-light my-2 my-sm-0" onclick="search_submit()">Go!</button>
        </form>
      </div>
    </nav>
    <!-- Heading -->
    <h1 class="display-4">Add Transaction</h1>
    <br>
    <h4 class="text-muted">Now Block Height : {{chainLength}}</h4>
    <p class="lead" style="float: right;">
        Sender : {{sender}}
        <br>
        <!-- Timestamp : {{timeStamp}} -->
    </p>
    <!-- Input Transaction Data -->
    <form action="/adding" method="post" name="addform" id="addform">
      <div class="form-group">
        <br><br><br>
        <small id="helpId" class="form-text text-muted">Receiver</small>
        <input type="text" class="form-control" name="receiver" id="receiver" aria-describedby="helpId" placeholder="Input Receiver..">
        <br>
        <small id="helpId" class="form-text text-muted">Message</small>
        <input type="text" class="form-control" name="message" id="message" aria-describedby="helpId" placeholder="Input Message..">
      </div>
    </form>
    <center>
      <br><br>
      <button type="submit" class="btn btn-dark btn-lg" onclick="addform_submit()">Make Transaction!</button>
    </center>
    <!-- Optional JavaScript -->
    <script>
      function addform_submit() {
        //alert("uaaaaaaa");
        if (addform.receiver.value == "") {
          addform.receiver.focus();
          alert("Please Input the Receiver.");
        }
        else if (addform.message.value == "") {
          addform.message.focus();
          alert("Please Input the Message.");
        }
        else {
          addform.submit();
        }
      }
      function search_submit() {
        searchform.submit();
      }
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>